* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section {
    background-color: white;
    padding: 20px 45px;
}

.hero {
    background-color: #121214;
    height: 100vh;
    color: #e1e1e6;
    font-size: 40px;
}

footer { 
    height: 500px;
    background-color:#121214;
    margin-top: 80px;
}

nav {
    display: flex;
    justify-content: space-between;   
}

ul {
    display: flex;
    list-style-type: none;
    width: 440px;
    justify-content: space-between;
    font-size: 30px;
}

li {
    text-decoration: none;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 40px;
}

p {
    margin: 0;
    font-weight: 300;
    font-size: 28px;
}

.subtext {
    font-size: 15px;
    font-weight: 300;
}

.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    margin-bottom: 100px;
}   

.button {
    width: 165px;
    height: 47px;
    border: none;
    border-radius: 30px;
    background-color: #0dad55;
    text-align: center;
    cursor: pointer;
    color: white;
    font-size: 23px;
    font-weight: 500;
    margin-top: 21px;
}

.button:hover {
    background-color: #077539;
}

.socials {
    padding-bottom: 100px;
}

.logo {
    height: 65px;
    padding-top: 10px;

}

.social {
    margin-bottom: 20px;
}

.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}  

.sub-section-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 60px;
}

.sub-section-card h2 {
    padding-bottom: 40px;
}

.headshot {
    width: 230px;
    border-radius: 150%;
}

.headshot-container {
    display: flex;
    align-items: center;
}

.project-container {
    display: flex;
    justify-content: space-around;
    padding-bottom: 40px;
}

.project-card {
    width: 350px;
    height: 400px;
    box-shadow: 5px 5px 20px rgb(172, 170, 170);
    border-radius: 10px;
    margin: 10px;
}

.project-box-image {
    height: 210px;
}

.project-image {
    width: 350px;
    border-radius: 10px 10px 0 0;
}

.project-box-text {
    padding-top: 25px;
} 

.project-box-button {
    margin-top: 20px;
    color: #121214;  
    font-size: 13px; 
}

.btn-site {
    margin-right: 5px;
    padding: 5px 15px;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #121214;
    color: #121214;
    background: #fff;
    border-radius: 20px;  
    font-weight: 600;  
}

.btn-site:hover {
    background: #121214;
    color:#e1e1e6;
}

.btn-github {
    padding: 5px 15px;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #121214;
    color: #121214;
    background: #fff;
    border-radius: 20px;
    font-weight: 600;
}

.btn-github:hover {
    background: #121214;
    color:#e1e1e6;
}