* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section {
    background-color: white;
    padding: 20px 45px;
}

.hero {
    background-color: #121214;
    height: 100vh;
    color: #e1e1e6;
    font-size: 40px;
}

footer { 
    background-color:#121214;
    color: #e1e1e6;
    margin-top: 80px;
    padding: 40px 0;
    
}

nav {
    display: flex;
    justify-content: space-between;   
}

.nav-about {
    color: #e1e1e6;
    cursor: pointer;
    font-size: 30px;
}

.nav-about:hover {
    font-weight: 600;
    font-size: 31px;
}

.nav-project {
    color: #e1e1e6;
    cursor: pointer;
    font-size: 30px;
}

.nav-project:hover {
    font-weight: 600;
    font-size: 31px;
}

.nav-contact {
    color: #e1e1e6;
    cursor: pointer;
    font-size: 30px;
}

.nav-contact:hover {
    font-weight: 600;
    font-size: 31px;
}

ul {
    display: flex;
    list-style-type: none;
    width: 440px;
    justify-content: space-between;
    font-size: 30px;
}

li {
    text-decoration: none;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 40px;
}

p {
    margin: 0;
    font-weight: 300;
    font-size: 30px;
}

a {
    text-decoration: none;
}

.subtext {
    font-size: 15px;
    font-weight: 300;
}

.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    margin-bottom: 100px;
}   

.button {
    border: none;
    border-radius: 30px;
    background-color: #0dad55;
    text-align: center;
    cursor: pointer;
    color: white;
    font-size: 25px;
    font-weight: 300;
    margin-top: 21px;
    padding: 5px 15px;
}

.button:hover {
    background-color: #077539;
    font-weight: 500;
}

.socials {
    padding-bottom: 70px;
}

.logo {
    height: 65px;
    padding-top: 10px;

}

.social-in {
    margin-bottom: 20px;
}

.social-in:hover {
    width: 45px;
    height: 45px;
    margin-bottom: 15px;
}

.social-tw {
    margin-bottom: 20px;
}

.social-tw:hover {
    width: 45px;
    height: 45px;
    margin-bottom: 15px;
    
}

.social-gt {
    margin-bottom: 20px;
}

.social-gt:hover {
    width: 45px;
    height: 45px;
}

.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}  

.sub-section-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 60px;
}

.sub-section-card h2 {
    padding-bottom: 40px;
}

.headshot {
    width: 230px;
    border-radius: 150%;
}

.headshot-container {
    display: flex;
    align-items: center;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 40px 0 40px;
}

@media only screen and (max-width: 1000px) {
    .project-container {
        padding: auto;
    }
}

.project-card {
    width: 350px;
    height: 400px;
    box-shadow: 5px 5px 20px rgb(172, 170, 170);
    border-radius: 10px;
    margin-bottom: 60px ;
};

.project-box-image {
    height: 210px;
}

.project-image {
    width: 350px;
    border-radius: 10px 10px 0 0;
}

.project-box-text {
    padding-top: 25px;
} 

.project-box-button {
    margin-top: 20px;
    color: #121214;  
    font-size: 13px; 
}

.btn-site {
    margin-right: 5px;
    padding: 5px 15px;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #121214;
    color: #121214;
    background: #fff;
    border-radius: 20px;  
    font-weight: 600;  
}

.btn-site:hover {
    background: #121214;
    color:#e1e1e6;
}

.btn-github {
    padding: 5px 15px;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #121214;
    color: #121214;
    background: #fff;
    border-radius: 20px;
    font-weight: 600;
}

.btn-github:hover {
    background: #121214;
    color:#e1e1e6;
}

.hamburger {
    display: none;
}

.hamburger:focus{
    outline: 0;
}

@media only screen and (max-width: 1000px) {
    .hamburger {
        display: block;
        border: 0;
        background-color: transparent;
        color: #e1e1e6;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
    }

    ul {
        display: none;
        background-color: #202024;
        margin: 0px;

    }

    ul.show {
        display: block;
    }

    nav {
        display: flex;
        flex-direction: column-reverse;
        background-color: #202024;

    }

    .logo {
        display: none;
    }
}


.form-content {
    display: flex;
    align-items: center;
    justify-content: space-around;    
}

.form-content p{
    font-size: 25px;  
}

@media only screen and (max-width: 1000px) {
    .form-content-email {
        display: none;
    }
}

.input-email {
    font-size: 15px;
    border-radius: 5px;
    padding: 7px 7px;
    border: none;
    width: 313px;
}

.input-message {
    border-radius: 6px;
    border: none;
    margin: 9px 0;
    padding: 3px 6px;
}

.submit {
    background-color: #0dad55;
    color: #e1e1e6;
    padding: 7px 15px;
    font-size: 15px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    width: 313px;
}

.submit:hover {
    background: #077539;
} 
